* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

a {
    color:black;
    text-decoration: none;
}
.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

@media (max-width: 1350px) {
    /* 표시되는 브라우저 화면 너비에 따른 반응형 구축 시도 */
    .card-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    /* 표시되는 브라우저 화면 너비에 따른 반응형 구축 시도 */
    .card-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

@media (max-width: 600px) {
    /* 표시되는 브라우저 화면 너비에 따른 반응형 구축 시도 */
    .card-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}

.movie-title{
    margin-top:10px;
    font-size: 24px;
    height:60px
}

.movie-overview{
    margin-top:20px;
    height:280px
}

.movie-rating{
    font-weight: 600;
}

.movie-card {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12), 0 6px 12px rgba(0, 0, 0, 0.24);
    margin: 20px;
    padding: 20px;
    width: 350px;
    height: 930px;
    justify-self: center;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.25s;
}

.movie-card:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.454), 0 6px 12px rgba(0, 0, 0, 0.607);
    background-color: rgb(197, 197, 197);
    transition: 0.5s;
}
  
.movie-card img {
    width: 100%;
    border-radius: 10px;
}
  
header {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    text-align: center;
}
  
.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid black;
}
  
.search label {
    font-size: 25px;
    margin-bottom: 3px;
}
  
.search input {
    margin-left: 20px;
    min-width: 230px;
    padding: 5px 10px;
    text-align: center;
}
  
.search button {
    margin-left: 10px;
    width: 60px;
    padding: 5px;
}
  
h3 {
    margin-bottom: 10px;
}
  